@CHARSET "UTF-8";

.popup {
	border: thick #00467f solid;
	border-radius: 10px;
	width: 20%;
	height: 10%;
	position: fixed;
	top: 45%;
	left: 45%;
	padding: 5px;
	display: none;
}

.popup .popupText {
	font-size: 18px;
	position: relative;
	
	top: 35%;
	left: 35%;
	width: 10%;
	height: 10%;
}